@model IEnumerable<FiqueBellaFinal.Models.Sugestao>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<h1>Veja abaixo as sugestões e/ou comentários deixados pelas suas clientes</h1>

<p>
    <a asp-action="Create">Adicionar sugestão/comentário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.SugestaoId">Detalhes</a>
            </td>
                @if (User.IsInRole("Admin"))
                {                            
            <td>
                        <p>Área apenas para administrador</p>
                <a asp-action="Edit" asp-route-id="@item.SugestaoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.SugestaoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.SugestaoId">Apagar</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>

<div class="form-group">
    <a class="btn btn-outline-info" asp-controller="Home" asp-action="Index">Voltar para a página anterior</a>
</div>