@model IEnumerable<FiqueBellaFinal.Models.Sugestao>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<h1>Veja abaixo as sugestões e/ou comentários deixados clientes</h1>

<p>
    <h5>
        <a class="text-dark" asp-action="Create"><img src="~/images/plus-circle-fill.svg" height="20" width="20" /> Adicionar sugestão/comentário</a>
    </h5>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>              
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Nome)</strong>
                </td>
                <td>
                    <strong>@Html.DisplayFor(modelItem => item.Texto)</strong>
                </td>               
                <td>
                    <a class="text-dark" asp-action="Details" asp-route-id="@item.SugestaoId"><img src="~/images/view-list.svg" height="20" width="20" /> Detalhes</a>
                </td>               
            </tr>
            @if (User.IsInRole("Admin"))
            {
            <td>
                <p class="text-dark">Área apenas para administrador</p>
                <a class="text-dark" asp-action="Edit" asp-route-id="@item.SugestaoId"><img src="~/images/pencil-fill.svg" height="20" width="20" /> Editar</a> |
                <a class="text-dark" asp-action="Details" asp-route-id="@item.SugestaoId"><img src="~/images/view-list.svg" height="20" width="20" /> Detalhes</a> |
                <a class="text-dark" asp-action="Delete" asp-route-id="@item.SugestaoId"><img src="~/images/trash3-fill.svg" height="20" width="20" /> Apagar</a>
            </td>
            }
        }
    </tbody>
</table>

<div class="form-group">
    <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Voltar para a página anterior</a>
</div>