@model IEnumerable<FiqueBellaFinal.Models.Agenda>

@{
    ViewData["Title"] = "Index";
}

<h1>Consulte aqui sua agenda</h1>

<p>
    <a class="text-dark" asp-action="Create"><img src="~/images/plus-circle-fill.svg" height="20" width="20" /> Criar novo agendamento</a>
</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procedimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Procedimento.Nome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                    <a class="text-dark" asp-action="Edit" asp-route-id="@item.AgendaId"><img src="~/images/pencil-fill.svg" height="20" width="20" /> Editar</a> |
                    <a class="text-dark" asp-action="Details" asp-route-id="@item.AgendaId"><img src="~/images/view-list.svg" height="20" width="20" /> Detalhes</a> |
                    <a class="text-dark" asp-action="Delete" asp-route-id="@item.AgendaId"><img src="~/images/trash3-fill.svg" height="20" width="20" /> Apagar</a> |
                    <a href="http://maps.google.com/?saddr=Current%20Location&daddr=@item.Cliente.Endereco1" target="_blank" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover text-dark"><img src="~/images/Black maps.png" height="20" width="20" /> Como chegar</a> |
                    <a href="https://api.whatsapp.com/send?phone=@item.Cliente.Telefone" target="_blank" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover text-dark"><img src="~/images/whatsapp.svg" height="20" width="20" /> WhatsApp</a>
            </td>
        </tr>
}
    </tbody>
</table>
