@model IEnumerable<FiqueBellaFinal.Models.Agenda>

@{
    ViewData["Title"] = "Index";
}

<h1>Consulte aqui sua agenda</h1>

<p>
    <a asp-action="Create">Criar novo agendamento</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procedimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Procedimento.Nome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AgendaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AgendaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.AgendaId">Apagar</a> |
                <a href="http://maps.google.com/?saddr=Current%20Location&daddr=@item.Cliente.Endereco1" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Como chegar</a> |
                <a href="https://api.whatsapp.com/send?phone=@item.Cliente.Telefone" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">WhatsApp</a>
            </td>
        </tr>
}
    </tbody>
</table>
