@model FiqueBellaFinal.Models.Contabilidade

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Tem certeza que deseja deletar esse registro da contabilidade?</h3>
<div>
    <h4>Contabilidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo.TipoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntradaSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntradaSaida.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContabilidadeId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a class="text-dark" asp-action="Index"><img src="~/images/arrow-return-left.svg" height="20" width="20" /> Retornar para lista</a>
    </form>
</div>
