@model Procedimento

<div class="col-sm-4 col-sm-4 col-lg-4" style="align-items: start">
    <p><img src="@Model.ImagemUrl" class="img-fluid" width="200" height="200" /></p>
    <font face="Candara">
    <h2>@Model.Nome</h2>
    <h5>Quantidade de sessões: @Model.QntdSessoes</h5>
    <h5>Duração de cada sessão: @Model.Duracao</h5>
    <h5>Preço: @Model.Preco.ToString("C")</h5>
    </font>
    <div>
        <p class="button">
            <a class="btn btn-primary" href="https://wa.me/5516981682877">
        Marcar horário</a>
        </p>
    </div>
</div>
<br />
