@model IEnumerable<FiqueBellaFinal.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Consulte os procedimentos cadastrados</h1>

<p>
    <a asp-action="Create"><img src="~/images/plus-circle-fill.svg" height="20" width="20" /> Criar novo procedimento</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriaId"><img src="~/images/pencil-fill.svg" height="20" width="20" /> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoriaId"><img src="~/images/view-list.svg" height="20" width="20" /> Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoriaId"><img src="~/images/trash3-fill.svg" height="20" width="20" /> Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
