@model IEnumerable<FiqueBellaFinal.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Consulte as clientes cadastradas</h1>

<p>
    <a asp-action="Create"><img src="~/images/plus-circle-fill.svg" height="20" width="20" /> Criar nova cliente</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ClienteId"><img src="~/images/pencil-fill.svg" height="20" width="20" /> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ClienteId"><img src="~/images/view-list.svg" height="20" width="20" /> Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClienteId"><img src="~/images/trash3-fill.svg" height="20" width="20" /> Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
