@model FiqueBellaFinal.Models.Procedimento

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do procedimento</h1>

<div>
    <h4>Procedimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QntdSessoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QntdSessoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsProcedimentoPreferido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsProcedimentoPreferido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemThumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemThumbnailUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProcedimentoId"><img src="~/images/pencil-fill.svg" height="20" width="20" /> Editar</a> |
    <a asp-action="Index"><img src="~/images/arrow-return-left.svg" height="20" width="20" /> Retornar para lista</a>
</div>
